CAMERA_ID=
CAMERA_TOKEN=
MEDIA_WSS_URL=
CAMERA_DEVICE=/dev/video0
CAMERA_WIDTH=1920
CAMERA_HEIGHT=1080
CAMERA_FPS=30
CAMERA_INPUT_FORMAT=mjpeg
WS_SEND_TIMEOUT_SECONDS=2
WS_PING_INTERVAL_SECONDS=20
WS_PING_TIMEOUT_SECONDS=20
WS_RECONNECT_MAX_SECONDS=30
MAX_FRAME_BYTES=4194304
STATS_INTERVAL_SECONDS=60
LOG_FORMAT=json
